*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(153deg, #353535, #8a817c);
    color: #fff;
    overflow-x: hidden;
}
.blob{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
}

.blob1{
    top: -100px;
    left: -100px;
    background: #c6ac8f;
}
.blob2{
    bottom: -100px;
    right: -100px;
    background: #eae0d5;
}
header{
    padding: 20px 8%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover{
    opacity: 0.7;
}


.nav-actions{
    display: flex;
    gap: 15px;
    align-items: center;
}

#themeToggle{
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.hamburger{
    display: none;
    font-size: 22px;
    cursor: pointer;
}

/* hero */

.hero{
    padding: 80px 8%;
}


.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.hero-content h1{
    font-size: 42px;
}


.hero-content h2{
    margin: 15px 0;
    font-weight: 400;
}

.hero-content span{
    color: #00f2fe;
}

.image img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.4);
}

/* buttons */
.buttons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.btn{
    padding: 10px 20px;
    border-radius: 25px;
    background: #00f2fe;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
}

.btn.outline{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/* Projects */

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

/* sections */

.section{
    padding: 80px 8%;
}

.section h2{
    text-align: center;
    margin-bottom: 40px;
}

/* contats */

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea{
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.glass{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(18px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
}

/* responsive */

@media(max-width:768px){
    .nav-links{
        display: none;
        flex-direction: column;
    }
    .nav-links.active{
        display: flex;
    }
    .hamburger{
        display: block;
    }

    .hero-content{
        flex-direction: column;
        text-align: center;
    }
}